.mainEducation {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.eduMediaCardStyle {
    display: flex;
    flex-flow: row;
    width: 250px;
    height: 250px;
}

.eduCardStyle {
    display: flex;
    flex-flow: row;
    width: 500px;
    height: 250px;
}
